name: CI/CD workflow for Docker build for frontend & backend and ECS refresh

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
    build-and-deploy:
      runs-on: ubuntu-latest
      environment: production
      
      steps:
        - name: Checkout code
          uses: actions/checkout@v2
        
        - name: Setup Docker Buildx
          uses: docker/setup-buildx-action@v3
        
        - name: Cache Docker layers
          uses: actions/cache@v4
          with:
            path: /tmp/.buildx-cache
            key: ${{ runner.os }}-buildx-${{ github.sha }}
            restore-keys: |
              ${{ runner.os }}-buildx-
        
        - name: Dockerhub login
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
        
        - name: Build and push Backend Docker image
          run: |
            docker build -t rakul21/celpip_app_backend:latest ./Backend/celpipapp
            docker push rakul21/celpip_app_backend:latest
        
        - name: Build and push Frontend Docker image
          run: |
            docker build -t rakul21/celpip_app_frontend:latest ./frontend/celipapp
            docker push rakul21/celpip_app_backend:latest
        
        - name: Setup AWS CLI
          uses: aws-actions/configure-aws-credentials@v1
          with: 
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY_ID }}
            aws-region: ${{ secrets.AWS_REGION }}
        
        - name: Update ECS Backend service
          run: |
            aws ecs update-service \
              --cluster celpip-ecs-cluster \
              --service celpip-backend-service \ 
              --force-new-deployment
        
        - name: Update ECS Frontend service
          run: |
            aws ecs update-service \
              --cluster celpip-ecs-cluster \
              --service celpip-frontend-service \ 
              --force-new-deployment
        
        - name: Docker logout
          run: docker logout